extends base

block head
  script(src="https://maps.googleapis.com/maps/api/js?sensor=false")
  //&key=#{key}")

block content
  #map
  script.
    function init() {
      var mapOptions = {
        zoom: 6,
        center: new google.maps.LatLng(44.961837, -93.278299),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById('map'), mapOptions);
      var bounds = new google.maps.LatLngBounds();
      var infowindow = new google.maps.InfoWindow();
      var marker;
      // yuck jade
      var locations = !{locations};
      console.log(locations)
      if (!_.isEmpty(locations.coordinates)) {
        _.each(locations.coordinates, function(coordinate) {
          console.log(coordinate)
          marker = new google.maps.Marker({
            //backwards coordinates, switch indexes
            position: new google.maps.LatLng(coordinate[1], coordinate[0]),
            map: map,
            title: 'tweet locations'
          });

          // zoom to relevant location
          bounds.extend(marker.position);

          google.maps.event.addListener(marker, 'click', (function(marker, coordinate) {
            return function() {
            infowindow.setContent(locations.messages.coordinate);
            infowindow.open(map, marker);
            }
          })(marker, coordinate));
        })
        map.fitBounds(bounds);
      }
    }

    google.maps.event.addDomListener(window, 'load', init);

